<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EagleRepoortTool.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EagleRepoortTool.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <EagleRepoortTool.My.MySettings>
      <setting name="ReportId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StoreId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value />
      </setting>
      <setting name="OrderByDept" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OrderByClass" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OrderByItemNumber" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProcessExport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SuggestedOrder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AverageSales" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SortBy" serializeAs="String">
        <value />
      </setting>
      <setting name="OrderPoint" serializeAs="String">
        <value />
      </setting>
    </EagleRepoortTool.My.MySettings>
  </userSettings>
  <applicationSettings>
    <EagleRepoortTool.My.MySettings>
      <setting name="Company" serializeAs="String">
        <value>Surangel and Sons</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value>EagleReportTool</value>
      </setting>
      <setting name="Edition" serializeAs="String">
        <value>Rapid</value>
      </setting>
      <setting name="Developed" serializeAs="String">
        <value>2023</value>
      </setting>
      <setting name="DevelopedBy" serializeAs="String">
        <value>Jeffrey Balbalosa</value>
      </setting>
    </EagleRepoortTool.My.MySettings>
  </applicationSettings>
</configuration>